<div class="container">
  <div class="row">
    <div class="col-sm">
      <h2>Mein Blatt:</h2>   
    </div>
  </div>
  <div class="row">
    <% @current_player.hand.cards.where(played: false).each do |card| %>
      <div class="col-sm">

          <div class="card-img-top">
            <%= image_pack_tag card.path %>
            <div class="card-body">
              <%=link_to "Karte spielen", home_play_card_path(card: card, game: @game), method: :post, class: "btn btn-primary" %>
            </div>
          </div>
    
      </div>
    <% end %>
  </div>
</div>


