<div class="container">
	<%= link_to "Neues Spiel", home_create_game_path(players: @players, game: @game), method: :post, class: "btn btn-warning" %>
	<%=	link_to "Tisch verlassen!", :home_leave_game, method: :post, class: "btn btn-danger" %>
</div>