<div class="row small-up-2 medium-up-3 large-up-5">
    <h2>Spieltisch:</h2>   
</div>
<div class="row small-up-2 medium-up-3 large-up-5 play-table">
  <% @game.trick.cards.each do |card| %>
    <div class="column column-block">
      <div class="card play-card">
        <div class="card-image float-center">
          <img src="/assets/cards/<%= card.name %>.png">
        </div>
        <div class="card-section float-center">
          Trick-Karte
        </div>
      </div>
    </div>
  <% end %>
</div>

  




