<% content_for :title, "Doppelkopf" %>
<div class="grid-x">
  	<div class="cell">
		<h1>Doppelkopf</h1>
   	</div>
	<div class="cell">
		<%= render partial: 'table' %>
	</div>
	<div class="cell">
		<%= render partial: 'human_player' %>
		
	</div>
	<div class="cell">
		<%= render partial: 'table_links' %>
	</div>
</div>
