<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">Doppelkopf</li>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
		<%= render 'layouts/navigation_links' %>
    </ul>
  </div>
</div>